# query compilation caches
**/*.cache

# IDE folders
.vscode/*
**/.vs/*
Debug/*

src/drivers/test/**/driver/Debug/*
src/drivers/test/**/driver/x64/*
src/drivers/test/TestDB/*
src/drivers/test/working/*
src/drivers/test/AnalysisFiles/*

#excel files
**/*.xlsx