# query compilation caches
**/*.cache

# IDE folders
.vscode/*
**/.vs/*
Debug/*

# function map file
**/function-map.h

src/drivers/test/**/driver/Debug/*
src/drivers/test/**/driver/x64/*
src/drivers/test/**/x64/*
src/drivers/test/**/Debug/*
src/drivers/test/TestDB/*
src/drivers/test/working/*
src/drivers/test/AnalysisFiles/*
AnalysisFiles/*
TestDB/*
dbs/*
working/*
#excel files
**/*.xlsx
**/*.xls
**/*.csv
